<style>

    a {
        float: right
    }

    .centered-form {
        margin-top: 60px;
    }

    .centered-form .panel {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }

    .btn-new-class-code {
        margin-bottom: 10px !important;
        background-color: whitesmoke;
    }

    .dropdown-select-class-code {
        color: black;
        background-color: whitesmoke;
    }

    .dropdown-select-school {
        margin-bottom: 10px !important;
        width: 100%;
        color: black;
        background-color: whitesmoke;
    }

    .add-class {
        background-color: transparent;
        color: yellowgreen;
    }

    .new-class-row div {
        width: 100%;
    }

    .selectpicker {
        style: 'btn-info';
    }
</style>
<!--template BEGIN-->

<div class="jumbotron">
    <h1 class="glyphicon glyphicon-check">Trenér diktátů</h1>

    <p>Procvičte si gramatiku s námi!</p>
    <!--CREATE STUDENT-->
    <div class="container">
        <div ng-show="success" class="alert alert-success">{{success}}</div>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <div ng-init="getSchools()" class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vytvořit Nového Žáka</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control input-sm" ng-model="student.name"
                                       ng-model-options="{ updateOn: 'blur' }" placeholder="Jméno">
                            </div>
                            <div class="form-group">
                                <input type="email" ng-model="student.email" ng-model-options="{ updateOn: 'blur' }"
                                       class="form-control input-sm" placeholder="Email">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" ng-model="student.password"
                                               ng-model-options="{ updateOn: 'blur' }"
                                               class="form-control input-sm" placeholder="Heslo">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" ng-model="passwordConfirm"
                                               class="form-control input-sm" placeholder="Heslo znovu">
                                    </div>
                                </div>
                            </div>
                            <!--CREATE SCHOOL CLASS-->
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 new-class-row">
                                    <div class="form-group">
                                        <label>Škola</label>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-9 new-class-row">
                                    <div class="form-group">
                                        <select class="selectpicker" ng-model="selectedSchool"
                                                ng-options="school as school.name for school in schools"
                                                ng-change="getSchoolClasses()">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-sm-7 col-md-7 new-class-row">
                                    <label>Třída</label>
                                </div>
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <div class="form-group">
                                        <select class="selectpicker" ng-model="selectedSchoolClass"
                                                ng-options="schoolClass as schoolClass.name for schoolClass in schoolClasses">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Vytvořit Žáka" class="btn btn-info btn-block"
                                           ng-click="createStudent()">
                                </div>
                                <a href="#/login">Už mám účet</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>