target/
.idea/
*.iml
dictatetrainer-resource-war/src/main/webapp/vendor/
pravidla_dictate
dictatetrainer-resource-war/src/main/webapp/zaloha/
Pseudokod_27._6..txt
pravidla-dictate.txt
BAKALARSKA_PRACE_27._6..pdf
