<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dictate Trainer Beta</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Mé Třídy<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Výčet</a></li>
                        <li><a href="#">Všechny mé třídy</a></li>
                    </ul>
                </li>
                <li><a href="#about">Nahraj Diktát</a></li>
                <li><a href="#about">Moje Diktáty</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Profil</a></li>
                <!-- add name of signed user then -->
                <li><a href="#">Odhlásit</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>