<div ng-include src="'student/navbar_student.html'"></div>
<style>
    .dummy {
        margin-top: 100%;
    }
    .thumbnail {
        position: absolute;
        top: 15px;
        bottom: 0;
        left: 15px;
        right: 0;
        text-align:center;
    }
</style>

<h3>Vyberte diktát k procvičování</h3>
<div ng-app ng-controller="DictatesCtrl">
    <!--<ul>-->
    <div ng-repeat="dictate in dictates" class="col-md-3 col-sm-4 col-xs-6 ">
        <div class="dummy"></div>
        <a href="{{'/#/trainer/' + dictate.filename}}" class="thumbnail lightgrey">
            <b>{{dictate.name}}</b> <br/>
            {{dictate.category.name}}
        </a>
    </div>
    <!--<li ng-repeat="dictate in dictates"><a href="{{'/#/trainer/' + dictate.filename}}" >{{dictate.name}}</a></li>-->
    <!--</ul>-->
</div>
<!--dat diktaty do tabulky s viac informaciami, zoradit podla kategorie-->