<div ng-include src="'student/navbar_student.html'"></div>
<style>
    tbody > tr > th {
        font-weight: normal;
    }
</style>
<div ng-init="onInit()">

    <br/>
    <h2>Měli jste dohromady <font color="red"> {{numOfMistakes}}</font> chyb, z toho bylo unikátních <font color="red"> {{uniqueMistakes}}</font>.</h2>
    <h4>Nejčastější chyba byla typu <font color="red">{{mostOccurrencesType}}</font>  </h4>
    <br/>
    <table class="table">
        <thead>
        <tr>
            <th>Chyba</th>
            <th>Správné</th>
            <th>Správně/chybně</th>
            <th>Kontext</th>
            <th>Typ</th>
            <th>Priorita</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="err in errorsToShow">
            <th>{{err.writtenWord}}</th>
            <th>{{err.correctWord}}</th>
            <th>{{err.correctChars}}/{{err.writtenChars}}</th>
            <th>{{err.previousWord}} <font color="red">{{err.writtenWord}}</font> {{err.nextWord}}</th>
            <th>{{err.errorType}}</th>
            <th>{{err.errorPriority}}</th>
            <th></th>
            <!--button details-->
            <th>
                <input type="submit" value="Víc" class="btn btn-info" ng-click="errorDetails(err.id)">
            </th>
        </tr>
        </tbody>
    </table>
</div>