<div ng-include src="'student/navbar_student.html'"></div>
<!--sidebar begin-->
<style>
    tbody > tr > th {
        font-weight: normal;
    }
</style>
    <h2>Moje statistiky podle datumu</h2>
    <table class="table" ng-init="onInit()">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Název diktátu</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trial in trials">
            <th>{{trial.performed}}</th>
            <th>{{trial.dictate.name}}</th>
            <th>
                <input type="submit" value="Víc" class="btn btn-info" ng-click="trialDetails(trial.id)">
            </th>
        </tbody>
    </table>
</div>