<style>

    .centered-form {
        margin-top: 60px;
    }

    .centered-form .panel {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }

    .add-class {
        background-color: transparent;
        color: yellowgreen;
    }

    .new-class-row div {
        width: 100%;
    }
</style>
<div ng-include src="'admin/navbar_admin.html'"></div>
<div class="container">
    <br/>
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vytvořit Novou Školu</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control input-sm"
                                   placeholder="Jméno" ng-model="school.name"
                                   ng-model-options="{ updateOn: 'blur' }">
                        </div>
                        <input type="submit" value="Vytvořit Školu" class="btn btn-info btn-block"
                               ng-click="submitSchool()">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>