<div ng-include src="'teacher/navbar_teacher.html'"></div>
<!--Edit dictate-->
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upravit diktát {{dictateToEdit.name}}</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            Název: <input type="text" name="name" class="form-control input-sm"
                                          ng-model="dictateToEdit.name">
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Kategorie
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="category in categories"><a href="">{{category.name}} {{category.id}}</a></li>
                            </ul>
                        </div>
                        <div class="textarea-group">
                            Popis: <textarea type="text" name="description" class="form-control input-sm"
                                             ng-model="dictateToEdit.description"></textarea>
                        </div>
                        <div class="textarea-group">
                            Transkript: <textarea type="text" name="transcript" class="form-control input-sm"
                                                  ng-model="dictateToEdit.transcript"></textarea>
                        </div>
                        <div class="form-group">
                            Počet opakování diktátu: <input type="text" name="defaultRepetitionForDictate" class="form-control input-sm"
                                                            ng-model="dictateToEdit.defaultRepetitionForDictate">
                        </div>
                        <div class="form-group">
                            Počet opakování věty: <input type="text" name="defaultRepetitionForSentences" class="form-control input-sm"
                                                         ng-model="dictateToEdit.defaultRepetitionForSentences">
                        </div>
                        <div class="form-group">
                            Pauzy mezi větami: <input type="text" name="defaultPauseBetweenSentences" class="form-control input-sm"
                                                      ng-model="dictateToEdit.defaultPauseBetweenSentences">
                        </div>
                        <div class="form-group">
                            Konce vět: <input type="text" name="sentenceEndings" class="form-control input-sm"
                                              ng-model="dictateToEdit.sentenceEndings">
                        </div>
                        <input type="submit" value="Upravit" class="btn btn-info btn-block" ng-click="submitDictate(dictateToEdit.id)">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>