<style>
    .dropdown-select-class {
        color: black;
        margin-bottom: 10px !important;
        background-color: whitesmoke;
    }

    .new-class-row div {
        width: 100%;
    }
</style>

<!--template BEGIN-->

<div ng-include src="'teacher/navbar_teacher.html'"></div>
<!--Edit user-->
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upravit uživatele {{userToEdit.name}}</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            Jméno: <input type="text" name="name" id="name" class="form-control input-sm"
                                          ng-model="userToEdit.name">
                        </div>
                        <div class="form-group">
                            Email: <input type="email" name="email" id="email" class="form-control input-sm"
                                          ng-model="userToEdit.email">
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    Nové Heslo: <input type="password" name="password" id="password"
                                                       class="form-control input-sm"
                                                       ng-model="userToEdit.password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    Potvrdit heslo: <input type="password" name="password_confirmation"
                                                           id="password_confirmation"
                                                           class="form-control input-sm" ng-model="Potvrdit Heslo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Škola
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="school in schools"><a href="">{{school.name}} {{school.id}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Třída
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="schoolClass in schoolClasses"><a href="">{{schoolClass.name}}
                                            {{schoolClass.id}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Upravit" class="btn btn-info btn-block"
                               ng-click="submitUser(userToEdit.id)">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>