<div ng-include src="'teacher/navbar_teacher.html'"></div>
<style>
    tbody > tr > th {
        font-weight: normal;
    }
</style>
<div class="container">
    <h2>Moje třída</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Jméno</th>
            <th>Email</th>
            <th>Škola</th>
            <th>Třída</th>
            <th>Upravit</th>
            <th>Statistika</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in students">
            <th>{{student.id}}</th>
            <th>{{student.name}}</th>
            <th>{{student.email}}</th>
            <th>{{student.schoolClass.school.name}}</th>
            <th>{{student.schoolClass.name}}</th>
            <!--button details-->
            <th>
                <input type="submit" value="Upravit" class="btn btn-info" ng-click="manageUser(student.id)">
            </th>
            <th>
                <!--<input type="submit" value="Statistiky" class="btn btn-info" ng-click="statsUser(student.id)">-->
            </th>
        </tr>
        </tbody>
    </table>
</div>