<div ng-include src="'teacher/navbar_teacher.html'"></div>
<div class="container">
  <div class="center-form panel">
    <div class="panel-body">
      <h4 class="signup center-block jumbotron"><i class="ion-person-add"></i>Profil uživatele {{user.name}}</h4>
    <form role="form">
        <div class="form-group">
            <label>Celé jméno: </label>
            <input type="text" class="form-control" id="name" ng-model="user.name"
                   ng-model-options="{ updateOn: 'blur' }">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control" id="email" ng-model="user.email"
                   ng-model-options="{ updateOn: 'blur' }">
        </div>
     <div>
        <button type="submit" class="btn btn-default" ng-click="createUser()">Update</button>
    </div>
    </form>
    </div>
  </div>
</div>