<div ng-include src="'teacher/navbar_teacher.html'"></div>
<div ng-include src="'teacher/navbar_teacher.html'"></div>
<style>
    tbody > tr > th {
        font-weight: normal;
    }
</style>
<div class="container">
    <h2>Moje Diktáty</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Název</th>
            <th>Kolikrát trénováno</th>
            <th>Chyb</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dictate in teacherDictates">
            <th>{{dictate.id}}</th>
            <th>{{dictate.name}}</th>
            <th>2</th>
            <th>4</th>
            <th>
                <input type="submit" value="Upravit" class="btn btn-info btn-block"
                       ng-click="manageDictate(dictate.id)">
            </th>
        </tr>
        </tbody>
    </table>
</div>