<style>

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 75%;
        height: 100px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    #container {
        width: 980px;
        margin: 0 auto;
    }

    #content, #credits {
        overflow: hidden;
    }

    #description, #transcript, #statusbar {
        width: 75%;
    }

    .onlyNumbers {
        width: 25%;
    }

    .dragover {
        border: 5px dashed blue;
    }
</style>
<div id="container">
    <div ng-include src="'teacher/navbar_teacher.html'" ng-controller="UploadCtrl"></div>

    <div id="content">
        <br/>
        <!--description textfield-->
        <div id="description" class="form-group">
            <label for="usr">Krátky popis diktátu:</label>
            <input type="text" class="form-control" id="usr" required>
        </div>

        <!--transcript textarea-->
        <label>Textový prepis diktátu:</label>

        <div>
        <textarea id="transcript" ng-model="transcript" ng-model-options="{ updateOn: 'blur' }" rows="10" cols="80"
                  placeholder="Vložte prepis diktátu" style="resize:none" required></textarea>
        </div>
        <!--button next step-->
        <br/>

        <div>
            <label>Počet opakování každé věty:</label>
            <input type="text" class="form-control onlyNumbers" required>
        </div>
        <br/>

        <div>
            <label>Počet opakování celého diktátu:</label>
            <input type="text" class="form-control onlyNumbers" required>
        </div>
        <br/>

        <div>
            <label>Délka pauzy mezi větami:</label>
            <input type="text" class="form-control onlyNumbers" required>
        </div>
        <br/>


        <!--category dropdown-->
        <label for="usr">Vybrat kategorii:</label>

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Kategorie
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="category in categories"><a href="">{{category.name}} {{category.id}}</a></li>
            </ul>
        </div>

        <br/>

        <div>
            <div ngf-drop ngf-select ng-model="files" class="drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false"
                 accept="audio/*"
                 ngf-pattern="'.wav,.mp3,.ogg'">
                Nahrej diktát přetáhnutím, nebo klikni pro výběr souboru
            </div>
            <div ngf-no-file-drop>Nahrávání přetáhnutím souboru není podporováno</div>

            Postup nahrávání:
            <pre id="statusbar">{{log}}</pre>
        </div>
        <div>
            <label>Jméno:</label>
            <ul>
                <li ng-repeat="f in files">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
            </ul>
        </div>
        <br/>

        <div>
            <label>Konce vět oddělené středníkem (ve vteřinách): {{pauses}}</label>
        </div>

        <br/>

        <button id="step2btn" class="btn btn-success" ng-click="upload()" ng-disabled="signInForm.$invalid">
            Nahrát!
        </button>

        <!--TODO overenie ci su vsetky polia vyplnene, predtym ako povolim druhy krok-->
    </div>
</div>